div.error {
    .alert-danger;
    background-image: none;
}

div.success {
    background-image: none;
}

.approval.approved_no, .approval.approved_yes {
    background-image: none;
    border-radius:    0;
    margin:           10px auto 40px;
    text-align:       center;
    width:            100% !important;
}
