.button {

    box-shadow: none !important;

    &:focus {

        outline: none !important;
    }
}

input.button {

    .btn;
    .btn-primary;

    background:     none;
    border-color:   @brand-primary;
    box-shadow:     none;
    color:          @brand-primary;
    margin-top:     20px;

    &:hover {

        background-color:   @brand-primary;
        border-color:       @brand-primary;
    }
}