code,
kbd,
pre,
samp {

    .border-radius(0);
    .box-shadow(none);
}

code {

    border:     @code-border;
    .border-radius(@code-border-radius);
    padding:    @code-padding;
}

pre {

    border-width:       1px 1px 1px 6px;
    white-space: nowrap;
}

dl.file > dt > a {

    color:            @code-color;
}