/*
 * This file is part of the JEECE Dokuwiki template package.
 *
 * (c) Théo FIDRY <theo.fidry@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.dokuwiki textarea.edit {

    &:focus {
        outline: none;
    }
}

#dokuwiki__content textarea#wiki__text {
    height: 400px;
}

input.edit {

    height:       34px;
    margin-left:  5px;
    padding-left: 5px;

    &:focus {

        outline:      none;
        border-color: @brand-primary;
    }
}
