.docInfo {

    color:          @gray-light;
    font-style:     oblique;
    padding-right:  20px;
}

#dokuwiki__footer {

    background-color:   lighten(@gray-lighter, 5%);
    border-top:         1px solid #e5e5e5;
    font-size:          @font-size-small;
    left:               0;
    line-height:        10px;
    margin:             0;
    padding:            0;
    padding-top:        15px;
    position:           absolute;
    right:              0;
    text-align:         left;
}