.form-control:focus {

  border-color: @brand-primary;
  box-shadow: none;
}

input.edit {

    .form-control;

    display: inline-block;
    margin-left: 10px;
    width: auto;

    &, &:focus {

        box-shadow: none;
    }
}

.dokuwiki label.block {

    width: 100%;

    input.edit {

        .form-control;

        display: inline-block;
        margin-left: 10px;
        width: 70%;

        &, &:focus {

            box-shadow: none;
        }
    }
}

#acl__user input.edit {

    .form-control;

        display: inline-block;
        margin-left: 10px;
        width: 30%;

        &, &:focus {

            box-shadow: none;
        }
}