a {

    &:hover {
        color:           @link-hover-color;
        text-decoration: none;
    }

    &:link, &:visited {
        color: @link-color;
    }

    &:focus {
        outline: none;
    }
}