/*
 * This file is part of the JEECE Dokuwiki template package.
 *
 * (c) Théo FIDRY <theo.fidry@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

#dokuwiki__pagetools a {

    &:link, &:active, &:focus, &:visited, &:hover {
        color:       @gray !important;
        font-weight: normal;
    }
}

#dokuwiki__pagetools.pg__fixed {
    position: fixed;
    right:    0;
    top:      50px;
}
