#dw__toc {

  border-color:   @navbar-fixed-top-color;

  h3 {

    font-size:        @font-size-large;
    letter-spacing:   normal;
    margin-top:       0;
    padding-left:     5px;
    padding-right:    5px;
    text-align:       center;
    text-transform:   uppercase;
  }
}
